* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  height: 100vh;
  --ffp: 'Staatliches', cursive;
  --ffs: 'Palanquin', sans-serif;

  --fs-header: 4rem;
  --fc-primary: hsl(0 0% 100%);
  --fc-header-grey: hsl(218 17% 62%);
  --fc-main: hsl(233 100% 97%);
  --fc-card: hsl(232 17% 35%);

  --bg-card: hsla(312 91% 96%);
}

body {
  font-size: 1.6rem;
  font-family: var(--ffp);
  height: 100vh;
}

.page {
  margin: 0 auto;
  /* max-width: 38.4rem; */
}

.header {
  background: var(--fc-header-grey);
}

.header h1 {
  font-size: var(--fs-header);
  color: var(--fc-primary);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-img {
  margin: 3.2rem 0;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: hsla(275, 18%, 79%, 1);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  margin-bottom: 3rem;
  padding: 0.8rem 0;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--fc-main);

  gap: 3.2rem;
  padding: 1.4rem 3.2rem 3.1rem;
}

.wrapper-text-man p {
  font-family: var(--ffs);
  font-size: 2rem;
  line-height: 25px;

  text-align: center;
}

.wrapper-card-main {
  position: relative;
  transition: all 300ms;

  animation: downtop 700ms 350ms backwards;
}

.wrapper-card-main img {
  width: 100%;
  height: auto;
}

.wrapper-card-main:hover {
  transform: scale(1.05);
  opacity: 0.7;
}

.wrapper-card-main span {
  position: absolute;

  background-color: var(--bg-card);
  color: var(--fc-card);

  font-size: 2rem;
  border-radius: 2rem;
  right: 1.6rem;
  top: 1.7rem;

  padding: 0 2.2rem;
  width: fit-content;

  animation: topdown 1000ms;
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(+15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 600px) {
  :root {
    --fs-header: 4.8rem;
  }
  h1 {
    font-size: var(--fs-header);
    padding: 2rem auto;
  }

  .wrapper-card-main img {
    width: 22rem;
  }

  .cards {
    display: grid;
    grid-template-areas:
      'A B'
      'D C';
    gap: 3.2rem;
  }

  .cards div:nth-child(1) {
    grid-area: A;
  }

  .cards div:nth-child(2) {
    grid-area: B;
  }
  .cards div:nth-child(3) {
    display: C;
  }
  .cards div:nth-child(4) {
    grid-area: D;
  }
}
