* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ffp: 'Staatliches', cursive;
  --ffs: 'Palanquin', sans-serif;

  --fs-header: 4rem;
  --fc-primary: hsl(0 0% 100%);
  --fc-header-grey: hsl(218 17% 62%);
  --fc-main: hsl(233 100% 97%);
  --fc-card: hsl(232 17% 35%);

  --bg-card: hsla(312 91% 96%);
}

html,
body {
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-family: var(--ffp);
}

.page {
  margin: 0 auto;
  height: 100%;
  /* max-width: 38.4rem; */
}

.header h1 {
  font-size: var(--fs-header);
  color: var(--fc-primary);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  background-color: var(--fc-header-grey);
}

.wrapper-img {
  margin: 3.2rem 0;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: hsla(275, 18%, 79%, 1);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  margin-bottom: 3rem;
  padding: 0.8rem 0;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;

  background-color: var(--fc-main);

  padding: 1.4rem 3.2rem 3.1rem;

  /* gap: 3.2rem; */
}

.wrapper-text-man {
  background-color: var(--fc-main);
}

.wrapper-text-man p {
  font-family: var(--ffs);

  font-size: 2rem;
  line-height: 25px;
  text-align: center;

  padding: 1.4rem 5rem;
}

.wrapper-card-main {
  position: relative;
  transition: all 300ms;

  width: 100%;

  animation: downtop 700ms 350ms backwards;
}

.wrapper-card-main img {
  max-width: 100%;
  border-radius: 2rem;
}

.wrapper-card-main:hover {
  transform: scale(1.05);
  opacity: 0.7;
}

.wrapper-card-main span {
  position: absolute;

  background-color: var(--bg-card);
  color: var(--fc-card);

  font-size: 2rem;
  border-radius: 2rem;
  right: 1.6rem;
  top: 1.7rem;

  padding: 0 2.2rem;
  width: fit-content;

  animation: topdown 1000ms;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer {
  display: grid;
  place-content: center;

  width: 100%;
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(+15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 600px) {
  :root {
    --fs-header: 4.8rem;
  }
  h1 {
    font-size: var(--fs-header);
    padding: 2rem auto;
  }

  .wrapper-text-man p {
    max-width: 58rem;
    margin: 0 auto;
  }

  .cards {
    display: grid;
    grid-template-areas:
      'A B'
      'D B'
      'D C'
      'E F';
    gap: 3.2rem;
  }

  .cards div:nth-child(1) {
    grid-area: A;
  }

  .cards div:nth-child(2) {
    grid-area: B;
  }
  .cards div:nth-child(3) {
    grid-area: C;
  }
  .cards div:nth-child(4) {
    grid-area: D;
  }

  .cards div:nth-child(5) {
    display: none;
  }

  .cards div:nth-child(6) {
    display: none;
  }
}

@media (min-width: 1100px) {
  .page {
    display: flex;
    flex-direction: row;
  }

  .header {
    min-width: 38rem;
    background-color: var(--fc-header-grey);
  }

  .wrapper-text-man {
    background-color: var(--fc-header-grey);
  }

  .wrapper-text-man p {
    color: var(--fc-primary);

    font-size: 2.4rem;
    line-height: 2.8rem;

    margin: 1.4rem 0 6.5rem;
    padding: 1.4rem 5rem;
  }
}

@media (min-width: 1280px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'A B E'
      'D B F'
      'D C F'
      'G G G';
    gap: 3.2rem;
  }

  .cards div:nth-child(1) {
    grid-area: A;
  }

  .cards div:nth-child(2) {
    grid-area: B;
  }
  .cards div:nth-child(3) {
    grid-area: C;
  }
  .cards div:nth-child(4) {
    grid-area: D;
  }

  .cards div:nth-child(5) {
    grid-area: E;
    display: block;
  }

  .cards div:nth-child(6) {
    grid-area: F;
    display: block;
  }

  footer {
    grid-area: G;
  }
}
